[Unit]
Description=Small description of the service
After=network.target janus.service nats-server.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/bin/signaling --config /etc/__APP__/server.conf
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit
Restart=on-failure
ConfigurationDirectory=__APP__
ConfigurationDirectoryMode=500
ExecPaths=__INSTALL_DIR__/bin/signaling __INSTALL_DIR__ /usr/lib/


[Install]
WantedBy=multi-user.target
